# Generated for Python 3.8.10 on Linux
h11==0.14.0
# Package is installable with specified version
click==8.1.7
# Package is installable with specified version
idna==3.8
# Package is installable with specified version
annotated-types==0.7.0
# Package is installable with specified version
anyio==4.4.0
# Package is installable with specified version
httpx==0.27.2
# Package is installable with specified version
greenlet==3.0.3
# Package is installable with specified version
fastapi==0.112.3
# Package is installable with specified version
iniconfig==2.0.0
# Package is installable with specified version
packaging==24.1
# Package is installable with specified version
pluggy==1.5.0
# Package is installable with specified version
sniffio==1.3.1
# Package is installable with specified version
pytest==8.3.2
# Package is installable with specified version
numpy
# Package installable after loosening version constraints
typing_extensions==4.12.2
# Package is installable with specified version
starlette==0.38.4
# Package is installable with specified version
uvicorn==0.30.6
# Package is installable with specified version
SQLAlchemy==2.0.34
# Package is installable with specified version
pydantic_core==2.20.1
# Package is installable with specified version
pydantic==2.8.2
# Package is installable with specified version
sqlmodel==0.0.22
# Package is installable with specified version
httpcore==1.0.5
# Package is installable with specified version
certifi==2024.8.30
# Package is installable with specified version
